<h3>Perfil personal</h3>
<hr>
<p>
  <a [routerLink]="['']" (click)="logout()">Cerrar sesión</a>
</p>
<p>
  <a [routerLink]="['/cambiar-contraseña']">Cambiar contraseña</a>
</p>
<br>
<table class="table table-bordered table-striped tabla">
  <thead>
    <tr class="filters">
      <th>Nombre</th>
      <th>Apellidos</th>
      <th>Teléfono</th>
      <th>Email</th>
      <th>Imagen</th>
      <th>Administrar</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let appuser of appusers">
      <td>{{ appuser.name }}</td>
      <td>{{ appuser.surname }}</td>
      <td>{{ appuser.phone }}</td>
      <td>{{ appuser.email }}</td>
      <td>
        <img src="{{ appuser.image }}" alt="No hay imagen" height="42" width="80">
      </td>
      <td>
        <button class="btn btn-success" routerLink="/tecnico/{{ appuser.id }}/editar">
          <fa name="edit"></fa>
        </button>
        <button class="btn btn-danger" data-toggle="modal" data-target="#myModal" (click)="idEliminar(appuser.id)">
          <fa name="trash"></fa>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<!-- The Modal -->
<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Confirmar acción</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        ¿Estás seguro de querer eliminar este perfil?
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button class="btn btn-danger" (click)="delAppuser(appuserId,$event)" data-toggle="modal" data-target="#myModal">
          Confirmar
        </button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
      </div>

    </div>
  </div>
</div>