<div class="row contenedor">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>Nuevo mensaje</h2>
    <form [formGroup]="messageForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="to">Para:</label>
        <input type="text" class="form-control" id="to" formControlName="to">
      </div>
      <div class="form-group">
        <label for="subject">Asunto:</label>
        <input type="text" class="form-control" id="subject" formControlName="subject">
      </div>
      <div class="form-group">
        <label for="message">Mensaje:</label>
        <textarea class="form-control" id="message" formControlName="message" rows="5"></textarea>
      </div>
      <div class="form-group">
        <label for="files">Archivos adjuntos:</label>
        <input type="file" class="form-control" id="files" formControlName="files" multiple="multiple" (change)="fileChangeEvent($event)">
      </div>

      <div class="buttons">
        <button class="btn btn-primary" routerLink="/recibidos">Volver</button>
        <button id="submit" class="btn btn-success" type="submit" [disabled]="!messageForm.valid">Enviar</button>
      </div>
    </form>
    <div id="preview"></div>
  </div>
</div>