input.ng-invalid {    
    border-left: 5px solid #a94442; 
} 
 
input.ng-valid {
    border-left: 5px solid #42A948; 
} 

.check {    
    color: #42A948; 
} 
 
.uncheck {   
    color: #a94442; 
}

.contenedor{
    display:flex;
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

p.alert{
    margin-top: 30px;
}

.buttons{
    display:flex;
    justify-content: space-between;
}

input{
    text-align: center;
}

h2 {
    padding-bottom: 40px;
}

p {    
    padding-top: 400px;     
    padding-bottom: 400px;
}

input,textarea {
    margin-bottom: 50px;
}

:host /deep/ .file {
    display: inline-block;
}

:host /deep/ .file_name {
    padding-top: 50px;
    padding-bottom: 50px;
}

:host /deep/ .img-thumb {
    margin-top: 20px;
    max-width: 200px;
    max-height: 400px;
}

:host /deep/ .delete-btn {
    display: inline-block;
    margin-bottom: 100px;
    width: 20px;
    height: 20px;
}
