<div class="row contenedor">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset 2">
    <h2>Nueva alerta</h2>
    <form [formGroup]="alertForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="to">Título:</label>
        <input type="text" class="form-control" id="title" formControlName="title">
      </div>
      <div class="form-group">
        <label for="subject">Descripción:</label>
        <input type="text" class="form-control" id="subject" formControlName="subject">
      </div>
      <div class="form-group">
        <label for="province">Provincia:</label>
        <select id="province" class="form-control" formControlName="province">
          <option value="madrid" selected="selected">Madrid</option>
          <option value="barcelona">Barcelona</option>
        </select>
      </div>
      <div class="form-group">
        <label for="files">Archivos adjuntos:</label>
        <input type="file" class="form-control" id="files" formControlName="files" multiple="multiple" (change)="fileChangeEvent($event)">
      </div>
      <div class="buttons">
        <button class="btn btn-primary" routerLink="/recibidas">Volver</button>
        <button id="submit" class="btn btn-success" type="submit" [disabled]="!alertForm.valid">Enviar</button>
      </div>
    </form>
    <div id="preview"></div>
  </div>
</div>