<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-items-container">
    <h2 align="center">Alertru <img src="assets/email-icon.png" height="30" width="30">
    </h2>
  </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-items-container">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-items collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngIf="isAuth()">
        <li *ngIf="role =='technician'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/recibidas">Alertas recibidas</a>
        </li>
        <li *ngIf="role == 'hospitalUser' || role == 'admin'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/enviadas">Alertas enviadas</a>
        </li>
        <li *ngIf="role == 'hospitalUser' || role == 'technician'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/usuario">Perfil personal</a>
        </li>
        <li *ngIf="role == 'admin'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/usuarios">Usuarios</a>
        </li>
        <li *ngIf="role =='admin'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/registro">Registrar usuario</a>
        </li>
      </ul>
    </div>
  </div>
</nav>