<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="navbar-items-container">
    <img src="assets/email-icon.png" height="30" width="30">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-items collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav" *ngIf="isAuth()">
        <li *ngIf="role=='technician'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/recibidas">Alertas recibidas</a>
        </li>
        <li *ngIf="role=='hospitalUser'" class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/enviadas">Alertas enviadas</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="/tecnico">Perfil personal</a>
        </li>
      </ul>
    </div>
  </div>
</nav>